1 - Explique em poucas palavras como funciona a estimação de erro por camadas e diga justificando
se ela tem uma tendência otimista ou pessimista.

Na estimação de erro por camadas o conjunto de treino é dividido em V subconjuntos com o mesmo número de exemplos. destes V subconjuntos, V-1 servirão para treino enquanto o que sobra serve para teste. Após este teste o conjunto usado para teste é trocado por um dos que foi utilizado para treino e volta-se a testar. Este processo repete-se até que todos os V conjuntos tenham sido utilizados para teste.

Este processo tem uma tendência pessimista pois a estimação depende de como é feita a divisão dos conjuntos e também porque não são contabilizados todos os exemplos para fazer a estimação.

----
2 - Sabendo que se pretende efetuar imputação por “atribuição do valor médio dentro da classe” qual
a classe do exemplo V1=2,6, V2=3,7 e V3=2,8 se for utilizado um classificador k-nearest neighbour
com k=3 que use a distância City-block ?

In [7]:
import os
import pandas as pd

#Cálculo dos missing values
v1_2=(1.3+0.5)/2
v1_4=(3.8+6.1)/2
v3_5=(5.6+3.3)/2

#Criação de dataframe
d = {'V1': [3.8,v1_2,6.1,v1_4,1.3,0.5],
     'V2': [2.8,9.0,7.3,4.6,9.0,1.0],
     'V3': [6.3,5.6,8.4,0.3,v3_5,3.3],
     'Classe': [1,2,1,1,2,2]}
df = pd.DataFrame(data=d)
df

     V1   V2    V3  Classe
0  3.80  2.8  6.30       1
1  0.90  9.0  5.60       2
2  6.10  7.3  8.40       1
3  4.95  4.6  0.30       1
4  1.30  9.0  4.45       2
5  0.50  1.0  3.30       2

In [13]:
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier

X=df.drop(['Classe'],1)
Y=df['Classe']
X_test=pd.DataFrame({'V1':[2.6],'V2':[3.7],'V3':[2.8]})
knn=KNeighborsClassifier(n_neighbors=3,metric='cityblock') # Criação de um KNN com K=3 e métrica cityblock
knn.fit(X,Y) # treinar o classificador com dados e classe de treino
knn.predict(X_test)

array([1], dtype=int64)